.intro {
  text-align:center;
  font-style: italic;
  color: crimson;
  font-weight:bolder;
  border: double;
  border-color:rgba(46, 46, 45, 0.986);
  border-radius:30px;
  width:1000px;
  padding:25px;
  margin:auto;
}
img.image{
  text-align:center;
  margin: auto;
  display: block;
}
h1{
  text-align:center;
  color:antiquewhite;
}
h2.two{
  text-align:center;
  color:antiquewhite;
}
title{
  text-align:center;
}
p.one{
  text-align:center;
  font-weight:bold;
  text-decoration:underline;
  text-decoration-color: black;
  color:white;
}
.mid{
  text-align:center;
  font-family:georgia,serif;
  border: double;
  color:bisque;
  border-color:rgba(46, 46, 45, 0.986);
  border-radius: 30px;
  width:1000px;
  padding:25px;
  margin:auto;
}
.outro{
  text-align:center;
  border:double;
  border-color:rgba(46, 46, 45, 0.986);
  color:plum;
  border-radius: 30px;
  width:1000px;
  padding:25px;
  margin:auto;
  font-weight:bold;
}
span.test{
color:mediumslateblue;
}
body{
  background:darkslategrey;
}
span.other{
  text-decoration: underline;
  text-decoration-color: red;
}
h3{
  text-align: center;
  font-size: 59px;
  color:antiquewhite;
}